<mw-loader loaded="loaded"></mw-loader>
<div class="mw-archive" ng-if="loaded">
    <h1>Archive</h1>
    <br />
    <ul class="mw-year-list">
        <li ng-repeat="yearGroup in archive" class="mw-year" ng-class="{ first: $first }">
            <h2><hr/><span>{{yearGroup.label}}</span><hr/></h2>
            <ul class="mw-month-list">
                <li ng-repeat="monthGroup in yearGroup" class="mw-month" ng-class="{ first: $first }">
                    <h3>{{monthLabel(monthGroup.label)}}</h3>
                    <ul>
                        <li ng-repeat="post in monthGroup" class="mw-post">
                            <span class="mw-post-day">{{post.day}}</span>
                            <a ui-sref="blog({ slug: post.name })">{{post.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>