<article class="mw-blogs-archive" ng-if="!loading">
    <header>
        <div class="header-row">
            <h1>Archive</h1>
        </div>
        <div class="header-row">
            <time>{{ moment | prettyMonth }} {{ year }}</time>
        </div>
    </header>
    <main>
        <section class="archi" ng-repeat="model in models">
            <a ui-sref="blog({ slug: model.name })">
                <div class="calendar-cell">
                    <span class="day-num">{{ model.day }}</span>
                    <i class="fa fa-calendar-o fa-2x"></i>
                </div>
                <div class="detail-cell">
                    <h2>{{ model.title }}&nbsp;</h2>
                    <div bind-html="model.excerpt" postprocess="postprocess" class="mw-post"></div>
                </div>
            </a>
        </section>
    </main>
</article>