
.mw-blogs-archive {
  header {
    border-bottom: 1px dotted @mw-color-swatch-2-light-2;
    padding-bottom: 15px;
  }

  main {
    width: 70%;
    margin: 0 auto;
  }

  a {
    display: flex;
    margin: 15px 0;

    .mw-highlight-2;
  }

  i {
    align-self: center;
    text-align: center;
    flex-basis: 100px;
  }

  .detail-cell {
    flex-basis: 90%;
  }

  .calendar-cell {
    position: relative;
    align-self: center;
    text-align: center;

    flex-basis: 10%;
  }

  .day-num {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 10px;
  }
}