<h3 class="mw-nav-label">{{archive.title}}</h3>
<div class="mw-calendar" id="mw-calendar-{{calendarId}}">
    <div class="mw-calendar-pane">
        <div class="mw-calendar-header">
            <div class="mw-calendar-header-cell" ng-repeat="items in header.items track by $index">{{items}}</div>
        </div>
        <div class="mw-calendar-row"
             ng-repeat="row in body.items track by $index"
             ng-init="mwRowIndex = $index">
            <div ng-class="{'has-blog':item.hasBlog}"
                 class="mw-calendar-cell"
                 ng-repeat="item in row track by $index"
                 ng-init="mwCellIndex = $index"
                 ng-click="item.hasBlog && viewDay(mwRowIndex, mwCellIndex)">
                {{item.label}}
            </div>
        </div>
    </div>
    <div class="mw-calendar-modal" ng-show="state === 'day'">
        <div class="mw-calendar-modal-container">
            ABC <span class="mw-calendar-modal-close" ng-click="closeDay()">[x]</span>
        </div>
    </div>
</div>