<div ng-show="loaded">
    <nav class="mw-nav">
        <h3 class="mw-nav-label"><span>{{recent.title}}</span><a class="mw-nav-more" ui-sref="archive()">archive...</a></h3>
        <ul>
            <li class="mw-nav-item" ng-repeat="link in recent.links">
                <a ui-sref="blog({ slug: link.name })">{{link.title}}</a>
            </li>
        </ul>
    </nav>

    <!--<nav class="mw-nav">-->
        <!--<h3 class="mw-nav-label"><span>{{archive.title}}</span><a class="mw-nav-more" ui-sref="archive()">more...</a></h3>-->
        <!--<ul>-->
            <!--<li class="mw-nav-item" ng-repeat="link in archive.links">-->
                <!--<a ui-sref="archive.month({ month: link.month, year: link.year })">{{link.moment.format("MMMM")}} {{link.year}}</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->

    <!--<nav class="mw-nav">-->
        <!--<h3 class="mw-nav-label"><span>{{visuals.title}}</span><a class="mw-nav-more" ui-sref="visuals()">more...</a></h3>-->
        <!--<ul>-->
            <!--<li class="mw-nav-item" ng-repeat="link in visuals.links">-->
                <!--<a ui-sref="blog({ slug: link.name })">{{link.title}}</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->
</div>