<section class="container">
    <h1 class="mw-title">
        <a ui-sref="home()">
            <span>disjointed</span>
            <span>thinking</span>
        </a>
    </h1>

    <h2 class="mw-subtitle">
        by matt whitaker
    </h2>

    <div class="mw-search">
        <input class="mw-text-input" type="text" placeholder="search..." />
    </div>
</section>

<section class="container">
    <nav>
        <mw-recent-nav></mw-recent-nav>
    </nav>
    <nav>
        <mw-archive-nav></mw-archive-nav>
    </nav>
    <nav>
        <mw-category-nav></mw-category-nav>
    </nav>
</section>