<article class="mw-blog" ng-if="!loading">
    <header>
        <div class="header-row">
            <h1>{{ model.title }}</h1>
        </div>
        <div class="header-row">
            <time>{{ model.date | prettyDate }}</time>
            <div>by {{ 'Matt Whitaker' }}</div>
        </div>
    </header>
    <main class="mw-blog-content mw-post" bind-html="model.content"></main>
    <footer>
        <div class="tags">
            <span>tags : </span>
            <span class="fa fa-tag delimiter" ng-if="$index" ng-repeat-start="tag in model.tags track by $index"></span>
            <a ui-sref="search({ t: tag })"
               ui-sref-opts="{ inherit: false }"
               alt="{{ tag.description }}"
               ng-repeat-end>{{ tag }}</a>
        </div>
        <div class="pagination">
            <a>Prev</a> <span>|</span> <a>Next</a>
        </div>
    </footer>
</article>