<article class="mw-blog" ng-if="!loading">
    <header>
        <div class="header-row header-banner" ng-if="false && model.attachment.guid"><img ng-src="{{ model.attachment.guid }}" /></div>
        <div class="header-row">
            <h1>{{ model.title }}</h1>
        </div>
        <div class="header-row">
            <time>{{ model.date | prettyDate }}</time>
            <div>by {{ 'Matt Whitaker' }}</div>
        </div>
    </header>
    <main class="mw-blog-content mw-post" bind-html="model.content" preprocess="preprocess"></main>
    <footer>
        <div class="tags">
            <span>tags : </span>
            <span class="fa fa-tag delimiter" ng-if="$index" ng-repeat-start="tag in model.tags track by $index"></span>
            <a ui-sref="search({ t: tag.name })"
               ui-sref-opts="{ inherit: false }"
               alt="{{ tag.description }}"
               ng-repeat-end>{{ tag.title }}</a>
        </div>
        <div class="pagination">
            <a ng-class="{ disabled: !model.prevName }" ui-sref="blog({ slug: model.prevName })">Prev</a> <span>|</span> <a ng-class="{ disabled: !model.nextName }" ui-sref="blog({ slug: model.nextName })">Next</a>
        </div>
    </footer>
</article>