.mw-app {
  .mw-home {
    margin: 20px 0;

    h1 {
      font-size: @mw-font-size-1;
      text-align: center;
    }

    .mw-home-content {
      margin-top: 25px;

      p {
        line-height: 1.7em;
        margin: 5px 0;
        text-indent: 1.6em;
        font-size: @mw-font-size-5;
      }

      iframe {
        .mw-shadow;

        margin-top: 20px;
        position: relative;
        left: -1.6em;
      }
    }

    .mw-vizual-link {
      span {
        display: none;
      }
      &:hover span {
        display: inline;
      }
    }
  }
}