<section class="container">
    <h1 class="mw-title">
        <a ui-sref="home()">
            <span>disjointed</span>
            <span>thinking</span>
        </a>
    </h1>

    <h2 class="mw-subtitle">
        by matt whitaker
    </h2>

    <div class="mw-search">
        <input class="mw-text-input" type="text" placeholder="search..." />
    </div>
</section>

<section class="container">
    <nav>
        <mw-nav-recent></mw-nav-recent>
    </nav>
    <nav>
        <mw-nav-archive></mw-nav-archive>
    </nav>
    <nav>
        <mw-nav-category></mw-nav-category>
    </nav>
</section>