<aside>
    <section class="container">
        <h1 class="mw-title" class="mw-highlight-1">
            <a ui-sref="home()">
                <span>disjointed</span>
                <span>thinking</span>
            </a>
        </h1>
    </section>

    <section class="container">
        <post-search></post-search>
    </section>

    <section class="container">
        <nav>
            <nav-recent></nav-recent>
        </nav>
    </section>

    <section class="container">
        <nav>
            <nav-archive></nav-archive>
        </nav>
    </section>

    <section class="container">
        <nav>
            <nav-category></nav-category>
        </nav>
    </section>
</aside>